* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color : #333;
}

.header {
    background : white;
    padding : 1rem 0
}

.nav {
    display: flex;
    gap : 1rem;
}

.nav a {
    text-decoration: none;
    color : #333;
    font-weight: 500;
}

.auth .btn {
    margin-left: 1rem;
}

.hero {
    padding : 4rem 0;
    text-align: center;
}

.hero h1 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.hero-cta .btn {
    margin: 0 0.5rem;
}

.stats-grid {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2rem 0;
}

.stat h3{
    font-size: 2rem;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    border-radius: 8px;
}

.course {
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 8px;
}

.course-image {
    background: #f4f4f4;
    height: 150px;
    border-radius: inherit;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .stats-grid {
        flex-direction: column;
        gap: 1rem;
    }
}